<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="yfs.study.mapper.GrazeUserMapper">
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="1024" />
    <resultMap id="BaseResultMap" type="yfs.study.entity.GrazeUser">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="birth_day" property="birthDay" jdbcType="TIMESTAMP" />
        <result column="gmt_create" property="gmtCreate" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, age, birth_day,gmt_create
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" useCache="true">
        select
        <include refid="Base_Column_List" />
        from graze_user
        where id = #{id}
    </select>

</mapper>